n8n/cost-analysis-share.json
{
  "name": "Cost Analysis Share Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cost-analysis-share",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-ca0000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cost-analysis-share"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst d = raw.body && typeof raw.body === 'object' ? raw.body : raw;\n\nreturn {\n  json: {\n    managerEmail: String(d.managerEmail || ''),\n    costUrl:      String(d.costUrl || ''),\n    contactName:  String(d.contactName || ''),\n    company:      String(d.company || ''),\n    reportId:     String(d.reportId || ''),\n    timestamp:    String(d.timestamp || new Date().toISOString())\n  }\n};"
      },
      "id": "a1b2c3d4-0002-4000-8000-ca0000000002",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst { managerEmail, costUrl, contactName, company } = d;\n\nconst sharedBy = contactName && company\n  ? `<strong>${contactName}</strong> at <strong>${company}</strong>`\n  : contactName\n    ? `<strong>${contactName}</strong>`\n    : company\n      ? `Someone at <strong>${company}</strong>`\n      : 'Someone';\n\nconst subjectSuffix = company ? ` - ${company}` : '';\nconst subject = `Cost & Automation Analysis shared with you${subjectSuffix}`;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>${subject}</title></head>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\">\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background:#f1f5f9;padding:32px 16px;\">\n    <tr><td align=\"center\">\n      <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"max-width:600px;width:100%;\">\n\n        <!-- Header -->\n        <tr><td style=\"background:linear-gradient(135deg,#1e293b 0%,#334155 100%);border-radius:12px 12px 0 0;padding:36px 40px;\">\n          <div style=\"font-size:13px;font-weight:600;color:#94a3b8;text-transform:uppercase;letter-spacing:1px;margin-bottom:10px;\">Cost &amp; Automation Analysis</div>\n          <h1 style=\"margin:0;font-size:26px;font-weight:700;color:#ffffff;line-height:1.3;\">Shared with you${company ? ': ' + company : ''}</h1>\n          <p style=\"margin:10px 0 0;font-size:14px;color:#94a3b8;\">Process efficiency &amp; savings report</p>\n        </td></tr>\n\n        <!-- Body -->\n        <tr><td style=\"background:#ffffff;padding:40px;border-radius:0 0 12px 12px;box-shadow:0 4px 16px rgba(0,0,0,0.08);\">\n\n          <p style=\"margin:0 0 16px;font-size:15px;color:#334155;line-height:1.6;\">Hi there,</p>\n\n          <p style=\"margin:0 0 24px;font-size:15px;color:#475569;line-height:1.7;\">${sharedBy} has shared a <strong>Cost &amp; Automation Analysis</strong> with you. This report shows the true annual cost of their current process, where time and money are being lost, and the projected return on investment from automation.</p>\n\n          <!-- What's inside box -->\n          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:28px;\">\n            <tr><td style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:10px;padding:24px 28px;\">\n              <p style=\"margin:0 0 14px;font-size:13px;font-weight:700;color:#1e293b;text-transform:uppercase;letter-spacing:0.5px;\">What's inside</p>\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                <tr>\n                  <td width=\"50%\" style=\"padding-right:8px;padding-bottom:10px;vertical-align:top;\">\n                    <div style=\"font-size:18px;margin-bottom:4px;\">💰</div>\n                    <div style=\"font-size:13px;font-weight:600;color:#334155;\">True annual cost</div>\n                    <div style=\"font-size:12px;color:#64748b;\">Total cost of manual effort</div>\n                  </td>\n                  <td width=\"50%\" style=\"padding-left:8px;padding-bottom:10px;vertical-align:top;\">\n                    <div style=\"font-size:18px;margin-bottom:4px;\">⏱️</div>\n                    <div style=\"font-size:13px;font-weight:600;color:#334155;\">Time lost per year</div>\n                    <div style=\"font-size:12px;color:#64748b;\">Hours spent on manual tasks</div>\n                  </td>\n                </tr>\n                <tr>\n                  <td width=\"50%\" style=\"padding-right:8px;vertical-align:top;\">\n                    <div style=\"font-size:18px;margin-bottom:4px;\">📈</div>\n                    <div style=\"font-size:13px;font-weight:600;color:#334155;\">Automation ROI</div>\n                    <div style=\"font-size:12px;color:#64748b;\">Savings from automating steps</div>\n                  </td>\n                  <td width=\"50%\" style=\"padding-left:8px;vertical-align:top;\">\n                    <div style=\"font-size:18px;margin-bottom:4px;\">🏆</div>\n                    <div style=\"font-size:13px;font-weight:600;color:#334155;\">Cost by department</div>\n                    <div style=\"font-size:12px;color:#64748b;\">Breakdown of where cost sits</div>\n                  </td>\n                </tr>\n              </table>\n            </td></tr>\n          </table>\n\n          <!-- CTA -->\n          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:28px;\">\n            <tr><td align=\"center\">\n              <a href=\"${costUrl}\" style=\"display:inline-block;padding:16px 48px;background:linear-gradient(135deg,#6366f1,#4f46e5);color:#ffffff;text-decoration:none;border-radius:8px;font-weight:700;font-size:16px;letter-spacing:0.2px;\">View Cost Analysis →</a>\n            </td></tr>\n          </table>\n\n          <p style=\"margin:0 0 24px;font-size:13px;color:#94a3b8;text-align:center;\">Button not working? Copy and paste this link into your browser:<br><span style=\"color:#6366f1;word-break:break-all;\">${costUrl}</span></p>\n\n          <hr style=\"border:none;border-top:1px solid #e2e8f0;margin:24px 0;\">\n\n          <p style=\"margin:0;font-size:12px;color:#94a3b8;text-align:center;\">You received this because someone shared a cost analysis with your email address. If this wasn't intended for you, you can safely ignore it.</p>\n\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    to:      managerEmail,\n    subject: subject,\n    html:    html\n  }\n};"
      },
      "id": "a1b2c3d4-0003-4000-8000-ca0000000003",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-ca0000000004",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "6VIIYahGmCk2GmAo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Cost analysis email sent to \" + $('Extract Payload').first().json.managerEmail } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-ca0000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook":         { "main": [[{ "node": "Extract Payload", "type": "main", "index": 0 }]] },
    "Extract Payload": { "main": [[{ "node": "Build Email",      "type": "main", "index": 0 }]] },
    "Build Email":     { "main": [[{ "node": "Send Email",       "type": "main", "index": 0 }]] },
    "Send Email":      { "main": [[{ "node": "Respond",          "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
