n8n/cost-analysis-share.json
{
  "name": "Cost Analysis Share Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cost-analysis-share",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ca-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-288, 400],
      "webhookId": "cost-analysis-share"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet payload;\nif (raw.body?.body && typeof raw.body.body === 'object') {\n  payload = raw.body.body;\n} else if (raw.body && typeof raw.body === 'object') {\n  payload = raw.body;\n} else {\n  payload = raw;\n}\nreturn {\n  json: {\n    managerEmail: payload.managerEmail || '',\n    costUrl: payload.costUrl || '',\n    contactName: payload.contactName || '',\n    company: payload.company || '',\n    reportId: payload.reportId || '',\n    timestamp: payload.timestamp || new Date().toISOString()\n  }\n};"
      },
      "id": "ca-extract",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-64, 400]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst managerEmail = d.managerEmail || '';\nconst costUrl = d.costUrl || '';\nconst contactName = d.contactName || '';\nconst company = d.company || '';\n\nvar emailHtml = '<div style=\"font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; max-width: 640px; margin: 0 auto; background: #f8fafc; padding: 20px;\">' +\n  '<div style=\"background: linear-gradient(135deg, #1e293b, #334155); color: white; padding: 30px; border-radius: 12px 12px 0 0;\">' +\n    '<h1 style=\"margin: 0; font-size: 24px;\">Cost & Automation Analysis</h1>' +\n    '<p style=\"margin: 8px 0 0; opacity: 0.8;\">' + (company ? company + ' — ' : '') + 'Shared with you</p>' +\n  '</div>' +\n  '<div style=\"background: white; padding: 30px; border-radius: 0 0 12px 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.06);\">' +\n    '<p style=\"font-size: 15px; color: #334155;\">Hi there,</p>' +\n    '<p style=\"font-size: 15px; color: #475569; line-height: 1.6;\">' + (contactName ? '<strong>' + contactName + '</strong> has' : 'Someone has') + ' shared a cost and automation analysis' + (company ? ' for <strong>' + company + '</strong>' : '') + ' with you.</p>' +\n    '<p style=\"font-size: 15px; color: #475569; line-height: 1.6;\">This report shows the current cost of manual processes, estimated time savings, and the projected return on investment from automation.</p>' +\n    '<div style=\"margin: 24px 0; text-align: center;\">' +\n      '<a href=\"' + costUrl + '\" style=\"display: inline-block; padding: 14px 40px; background: linear-gradient(135deg, #6366f1, #4f46e5); color: white; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 16px;\">View Cost Analysis</a>' +\n    '</div>' +\n    '<hr style=\"border: none; border-top: 1px solid #e2e8f0; margin: 24px 0;\">' +\n    '<p style=\"font-size: 12px; color: #94a3b8; text-align: center;\">This analysis was generated by Sharpin. If you have any questions, reply to this email.</p>' +\n  '</div>' +\n'</div>';\n\nreturn {\n  json: {\n    to: String(managerEmail || ''),\n    subject: (contactName ? contactName + ' shared' : 'Shared') + ' a Cost & Automation Analysis' + (company ? ' — ' + company : ''),\n    html: emailHtml\n  }\n};"
      },
      "id": "ca-build-email",
      "name": "Build Cost Analysis Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "ca-send-email",
      "name": "Send Cost Analysis Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [432, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "6VIIYahGmCk2GmAo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Cost analysis email sent\" } }}",
        "options": {}
      },
      "id": "ca-response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [672, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Extract Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Data": {
      "main": [
        [{ "node": "Build Cost Analysis Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Cost Analysis Email": {
      "main": [
        [{ "node": "Send Cost Analysis Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Cost Analysis Email": {
      "main": [
        [{ "node": "Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
