n8n/handover.json
{
  "name": "Handover Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "handover",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ho-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-288, 400],
      "webhookId": "handover"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet payload;\nif (raw.body?.body && typeof raw.body.body === 'object') {\n  payload = raw.body.body;\n} else if (raw.body && typeof raw.body === 'object') {\n  payload = raw.body;\n} else {\n  payload = raw;\n}\nreturn {\n  json: {\n    email: payload.email || '',\n    resumeUrl: payload.resumeUrl || '',\n    processName: payload.processName || 'a workflow process',\n    senderName: payload.senderName || 'A colleague',\n    comments: payload.comments || '',\n    timestamp: payload.timestamp || new Date().toISOString()\n  }\n};"
      },
      "id": "ho-extract",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-64, 400]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst email = d.email || '';\nconst resumeUrl = d.resumeUrl || '';\nconst senderName = d.senderName || 'A colleague';\nconst comments = d.comments || '';\nconst processName = d.processName || 'a workflow process';\n\nvar commentsBlock = '';\nif (comments) {\n  commentsBlock = '<div style=\"margin: 20px 0; padding: 16px; background: #f8fafc; border-radius: 8px; border-left: 4px solid #6366f1;\">' +\n    '<p style=\"margin: 0; font-size: 14px; color: #475569; font-style: italic;\">&ldquo;' + comments + '&rdquo;</p>' +\n    '<p style=\"margin: 6px 0 0; font-size: 12px; color: #94a3b8;\">— ' + senderName + '</p>' +\n  '</div>';\n}\n\nvar emailHtml = '<div style=\"font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; max-width: 640px; margin: 0 auto; background: #f8fafc; padding: 20px;\">' +\n  '<div style=\"background: linear-gradient(135deg, #1e293b, #334155); color: white; padding: 30px; border-radius: 12px 12px 0 0;\">' +\n    '<h1 style=\"margin: 0; font-size: 24px;\">You have been sent a process to complete</h1>' +\n    '<p style=\"margin: 8px 0 0; opacity: 0.8;\">From ' + senderName + '</p>' +\n  '</div>' +\n  '<div style=\"background: white; padding: 30px; border-radius: 0 0 12px 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.06);\">' +\n    '<p style=\"font-size: 15px; color: #334155;\">Hi there,</p>' +\n    '<p style=\"font-size: 15px; color: #475569; line-height: 1.6;\"><strong>' + senderName + '</strong> has handed over the diagnostic for <strong>' + processName + '</strong> for you to complete.</p>' +\n    commentsBlock +\n    '<p style=\"font-size: 15px; color: #475569; line-height: 1.6;\">Click the button below to pick up where they left off:</p>' +\n    '<div style=\"margin: 24px 0; text-align: center;\">' +\n      '<a href=\"' + resumeUrl + '\" style=\"display: inline-block; padding: 14px 40px; background: linear-gradient(135deg, #6366f1, #4f46e5); color: white; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 16px;\">Continue Diagnostic</a>' +\n    '</div>' +\n    '<p style=\"font-size: 13px; color: #94a3b8; text-align: center;\">This link is valid for 30 days.</p>' +\n  '</div>' +\n'</div>';\n\nreturn {\n  json: {\n    to: String(email || ''),\n    subject: senderName + ' has sent you a process to complete — ' + processName,\n    html: emailHtml\n  }\n};"
      },
      "id": "ho-build-email",
      "name": "Build Handover Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "ho-send-email",
      "name": "Send Handover Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [432, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "6VIIYahGmCk2GmAo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Handover email sent\" } }}",
        "options": {}
      },
      "id": "ho-response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [672, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Extract Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Data": {
      "main": [
        [{ "node": "Build Handover Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Handover Email": {
      "main": [
        [{ "node": "Send Handover Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Handover Email": {
      "main": [
        [{ "node": "Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
