n8n/save-progress.json
{
  "name": "Save Progress Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-progress",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "sp-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-288, 400],
      "webhookId": "save-progress"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet payload;\nif (raw.body?.body && typeof raw.body.body === 'object') {\n  payload = raw.body.body;\n} else if (raw.body && typeof raw.body === 'object') {\n  payload = raw.body;\n} else {\n  payload = raw;\n}\nreturn {\n  json: {\n    email: payload.email || '',\n    resumeUrl: payload.resumeUrl || '',\n    processName: payload.processName || 'your process audit',\n    company: payload.company || '',\n    currentScreen: payload.currentScreen || 0,\n    timestamp: payload.timestamp || new Date().toISOString()\n  }\n};"
      },
      "id": "sp-extract",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-64, 400]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst email = d.email || '';\nconst resumeUrl = d.resumeUrl || '';\nconst company = d.company || '';\n\nvar emailHtml = '<div style=\"font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; max-width: 640px; margin: 0 auto; background: #f8fafc; padding: 20px;\">' +\n  '<div style=\"background: linear-gradient(135deg, #1e293b, #334155); color: white; padding: 30px; border-radius: 12px 12px 0 0;\">' +\n    '<h1 style=\"margin: 0; font-size: 24px;\">Your Progress Has Been Saved</h1>' +\n    '<p style=\"margin: 8px 0 0; opacity: 0.8;\">Continue your process audit whenever you&apos;re ready</p>' +\n  '</div>' +\n  '<div style=\"background: white; padding: 30px; border-radius: 0 0 12px 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.06);\">' +\n    '<p style=\"font-size: 15px; color: #334155;\">Hi there,</p>' +\n    '<p style=\"font-size: 15px; color: #475569; line-height: 1.6;\">You saved your process audit progress. Click the link below to continue where you left off:</p>' +\n    '<div style=\"margin: 24px 0; text-align: center;\">' +\n      '<a href=\"' + resumeUrl + '\" style=\"display: inline-block; padding: 14px 40px; background: linear-gradient(135deg, #6366f1, #4f46e5); color: white; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 16px;\">Continue My Process Audit</a>' +\n    '</div>' +\n    '<p style=\"font-size: 13px; color: #94a3b8; text-align: center;\">This link is valid for 30 days.</p>' +\n  '</div>' +\n'</div>';\n\nreturn {\n  json: {\n    to: String(email || ''),\n    subject: 'Continue your Process Audit' + (company ? ' - ' + company : ''),\n    html: emailHtml\n  }\n};"
      },
      "id": "sp-build-email",
      "name": "Build Save-Progress Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "sp-send-email",
      "name": "Send Save-Progress Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [432, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "6VIIYahGmCk2GmAo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Save-progress email sent\" } }}",
        "options": {}
      },
      "id": "sp-response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [672, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Extract Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Data": {
      "main": [
        [{ "node": "Build Save-Progress Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Save-Progress Email": {
      "main": [
        [{ "node": "Send Save-Progress Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Save-Progress Email": {
      "main": [
        [{ "node": "Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
