n8n-workflows/flow-diagram.json
{
  "name": "Sharpin - Flow Diagram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flow-diagram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e5f6a7b8-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "flow-diagram"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst d = raw.body && typeof raw.body === 'object' ? raw.body : raw;\nconst mermaidCode = d.mermaidCode || '';\nconst processes = d.processes || [];\n\n// Placeholder: return diagramUrl. Replace with your diagram generation logic\n// (e.g. call Mermaid API, render to image, upload to storage, return URL)\nconst diagramUrl = '';\n\nreturn { json: { diagramUrl, mermaidCode, processCount: processes.length } };"
      },
      "id": "e5f6a7b8-0002-4000-8000-000000000002",
      "name": "Process Diagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"diagramUrl\": $json.diagramUrl } }}",
        "options": {}
      },
      "id": "e5f6a7b8-0003-4000-8000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Process Diagram", "type": "main", "index": 0 }]] },
    "Process Diagram": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": false }
}
